
.header{
  background: rgb(255,255,255),url(./assets/images/header.jpg);
  background: -moz-linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 35%), url(../images/header.jpg);
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 35%), url(../images/header.jpg);
  background: linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 35%), url(../images/header.jpg);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1), url(../images/header.jpg);
  background-size:cover;
  display: grid;
  grid-template-columns: repeat(5, [col] auto ) ;
  grid-template-rows: repeat(3, [row] auto  );
  background-color: grey;
}
.header__title{
  font-family: "Gotham HTF Bold";
  font-size: 5vw;
  text-transform: uppercase;
  text-align: center;
  margin: auto;  
  grid-column: col 1 / span 5;
  grid-row: row 2;
  z-index: 2;
}

.header__menu{
  list-style-type: none;
  grid-column: col 1 / span  2;
	grid-row: row 1 / span 3 ;
  padding-top: 20%;
  padding-bottom: 20%;
}

.menu__item{
  font-family: 'Gotham HTF Book Regular';
  margin-bottom:40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight:500
}
