.showcase {
   font-family: 'Gotham HTF Book Regular';
}

.showcase__container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 5fr));
  grid-template-rows: 1;
}

.showcase__title{
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.showcase__tile{
  /* background: grey; */
  /* display: flex; */
  align-self: center;
  place-items: center;
  padding: auto;
  max-height: 290px;
}
.showcase__tile:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: calc(1/1 * 100%);
}

#showcase-1{
  background-image: url(../images/showcase-1.jpg);
  background-repeat: no-repeat;
}

#showcase-2{
  background-image: url(../images/showcase-2.jpg);
  background-repeat: no-repeat;
}

#showcase-3{
  background-image: url(../images/showcase-3.jpg);
  background-repeat: no-repeat;
}

#showcase-4{
  background-image: url(../images/showcase-4.jpg);
  background-repeat: no-repeat;
}

#showcase-5{
  background-image: url(../images/showcase-5.jpg);
  background-repeat: no-repeat;
}