@import url(./assets/css/footer.css);
@import url(./assets/css/showcase.css);
@import url(./assets/css/tiles.css);
@import url(../node_modules/@fortawesome/fontawesome-free/css/all.css);
@import url(./assets/css/header.css);
@import url(./assets/css/hamburger.css);

@font-face {
  font-family: 'Gotham HTF Bold';
  src: url(./assets/fonts/gothamhtf-bold-webfont.ttf);
  font-style: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Gotham HTF Book Regular';
  src: url(./assets/fonts/gothamhtf-book-webfont.ttf);
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

button {
  font-family: "Gotham HTF Bold";
  border: none;
  background-color: black;
  height:40px;
  width:40px;
  cursor:pointer;
  color:white;
  text-transform: uppercase;
  font-weight: 700;
}

button:hover{
  background-color:blue;
}